@import "tailwindcss";

:root {
  font-family: var(--font-default);
  @apply dark:bg-neutral-950 dark:text-white;
}

@theme {
  --color-blueprint: #0c559a;
  --color-scroll: #f7f7d9;
  --font-default:
    "Futura", "Noto Sans SC", "M PLUS 1", "Noto Sans JP", "Noto Sans KR",
    system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .bg-blueprint-grid {
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size:
      100px 100px,
      100px 100px,
      20px 20px,
      20px 20px;
    background-position:
      -2px -2px,
      -2px -2px,
      -1px -1px,
      -1px -1px;
  }

  .stroke-custom {
    filter: drop-shadow(2px 0 0 var(--color-gray-700))
      drop-shadow(0 2px 0 var(--color-gray-700))
      drop-shadow(-2px 0 0 var(--color-gray-700))
      drop-shadow(0 -2px 0 var(--color-gray-700));
  }

  @media (prefers-color-scheme: dark) {
    .stroke-custom {
      filter: drop-shadow(2px 0 0 var(--color-neutral-500))
        drop-shadow(0 2px 0 var(--color-neutral-500))
        drop-shadow(-2px 0 0 var(--color-neutral-500))
        drop-shadow(0 -2px 0 var(--color-neutral-500));
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

article :global(h1) {
  @apply text-3xl;
}
article :global(h2) {
  @apply text-2xl;
}
article :global(h3) {
  @apply text-xl;
}
article :global(h4) {
  @apply text-lg;
}
article :global(ul) {
  @apply list-inside list-disc;
}
article :global(ol) {
  @apply list-inside list-decimal;
}
article :global(a) {
  @apply -mb-1.5 inline-block max-w-[calc(100vw-2rem)] overflow-clip text-ellipsis whitespace-nowrap text-orange-500 transition-colors hover:text-orange-600 focus:underline;
}
article :global(blockquote) {
  @apply rounded-e-lg border-l-4 border-l-orange-500 bg-orange-50 px-2 py-1 dark:bg-stone-800;
}
article :global(code) {
  @apply bg-gray-100 px-1 dark:bg-neutral-900;
}
article :global(pre code) {
  @apply bg-inherit;
}
article :global(pre) {
  @apply max-w-[calc(100vw-2rem)] rounded-lg p-2;
}
article :global(img) {
  @apply m-auto max-h-96 max-w-full object-contain;
}
article :global(table) {
  @apply max-w-[calc(100vw-2rem)] overflow-x-scroll;
}
article :global(li p) {
  @apply inline;
}
